body {
	background-color: #F4F4F4;
}

.navbar {
	padding: 30px;
	background-color: #5D7584;
	border-radius: 0;
	border: 0;
	border-bottom: 4px solid #394851;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

}

.navbar-brand {
	padding: 0;
	top: 0;
	left: 0;
	margin-bottom: 10px
}

.navbar-brand img {
	position: absolute;
	top: 0;
	left: 20px;
}

.navbar-nav {
	position: absolute;
	left: 300px;
}

.navbar-default .navbar-nav>li>a {
	color: #E7E7E7;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #394851;
}

.heading h3 {
	margin-left: 30px;
}


/* DASH */

.card-deck {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.card {
	width: 33.3%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	margin: 15px;
	padding: 20px 30px;
	color: #fff;
}

.open {
	background-color: rgb(87, 136, 156);
}

.offline {
	background-color: rgb(86, 101, 169);
}

.score {
	/*if over 50*/
	background-color: rgb(86, 169, 148);
	/*if under 50*/
	/*background-color: rgb();*/
}

.avgWait {
	background-color: rgb(169, 148, 136);
}

.avgDur {
	background-color: rgb(204, 135, 114);
}

.refer {
	background-color: rgb(159, 113, 145);
}

.card-title {
	display: inline;
	width: 100%;
}

.card-text {
	margin-top: 20%;
	float: right;
	border: 1px solid black;
	border-radius: 50%;
	padding: 10px;
}

.card-text p {
	margin: 0;
	font-size: 2rem;
	padding: 5px;
}

.dashIcons {
	font-size: 5rem;
	padding-right: 15px;
	height: 100px;
	line-height: 100px;
	color: rgba(255, 255, 255, 0.75);
}

/* MAP DIV */
.mapDiv {
	padding: 0px 20px;
}

.map {
	background-color: #e7e7e7;
}

/* FOOTER */
footer {
	padding: 15px;
	display: flex;
	justify-content: space-between;
}
