<div class="row container-fluid">
	<div class="openHeader row col-xs-12">
		<h3>View Chat Records</h3>
	</div>
	<div class="row">
	    <div class="col-xs-4 openChatInfo">
		    	<h5>Page: {{ currentPage }}</h5>
		     	<h5>Total Items: {{chatData.length}}
		</div>
	    <div class="col-xs-4">
	      <label for="search">Search:</label>
	      <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
	    </div>
	    <div class="col-xs-4">
	    	<div class="perPages">
		    <label for="search">items per page:</label>
		      	<select ng-model="pageSize">
		      		<option selected>25</option>
		      		<option>50</option>
		      		<option>75</option>
		      		<option>100</option>
		      	</select>
		    </div>
	    </div>
  	</div>
	  	<br>
	  	<div class="panel panel-default">
		    <div class="panel-body">
			    <table class="table table-striped chatTable">
				    <thead>
				      	<tr>
					        <th class="chatTableHeader">
					        	<a href="" ng-click="sortType = 'requested'; sortReverse = !sortReverse">Requested By 
					        		<span ng-show="sortType == 'requested' && !sortReverse" class="fa fa-caret-down"></span>
            						<span ng-show="sortType == 'requested' && sortReverse" class="fa fa-caret-up"></span>
					        	</a>
					        </th>
					        <th class="chatTableHeader">
					        	<a href="" ng-click="sortType = 'created'; sortReverse = !sortReverse">Created At 
					        		<span ng-show="sortType == 'created' && !sortReverse" class="fa fa-caret-down"></span>
            						<span ng-show="sortType == 'created' && sortReverse" class="fa fa-caret-up"></span>
					        	</a>
					        </th>
					        <th class="chatTableHeader">
					        	<a href="" ng-click="sortType = 'referrer'; sortReverse = !sortReverse">Referrer URL 
					        		<span ng-show="sortType == 'referrer' && !sortReverse" class="fa fa-caret-down"></span>
            						<span ng-show="sortType == 'referrer' && sortReverse" class="fa fa-caret-up"></span>
					        	</a>
					        </th>
				      	</tr>
				    </thead>
				    <tbody>
				    <tr dir-paginate="snap in chatData | orderBy:sortType:sortReverse | filter:q | itemsPerPage: pageSize" current-page="currentPage" data-toggle="modal" data-target="#myModal" ng-click="modalDetails(snap)">
				    	<td>{{snap.requested_by}}</td>
				        <td>{{snap.created_at | date: 'fullDate'}}</td>
				        <td>{{snap.referrer_url || 'n/a'}}</td>
				    </tr>
			    </tbody>
			  </table>
	        <div ng-controller="paginationControl" class="other-controller">
	            	<div class="text-center">
		            	<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="html/dirPagination.tpl.html"></dir-pagination-controls>
	            	</div>
	        	</div>
	    	</div>
	  	</div>
	</div>
</div>

<!-- Modal -->
<div ng-if="selectedUser" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    	<div class="modal-content">
        	<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">Chat Record For: {{selectedUser.requested_by}}</h4>
    		</div>
	        <div class="modal-body" >
	        	<div class="row userStats even">
	        		<div class="col-xs-6">
	        			<p><strong>ID: </strong>{{selectedUser.id}}</p>
	        		</div>
	        		<div class="col-xs-6 userStats">
	        			<p><strong>Created At: </strong>{{selectedUser.created_at | date: 'mediumDate'}}</p>
	        		</div>
	        	</div>
	        	<div class="row odd">
	        		<div class="col-xs-6 userStats">
	        			<p><strong>Referrer URL: </strong>{{selectedUser.referrer_url}}</p>
	        		</div>
	        		<div class="col-xs-6 userStats">
	        			<p><strong>IP Address: </strong>{{selectedUser.ip_address}}</p>
	        		</div>
	        	</div>
	        	<div class="row even">
	        		<div class="col-xs-6 userStats">
	        			<p><strong>Wait Time: </strong>{{userWaitTime}}</p>
	        		</div>
	        		<div class="col-xs-6 userStats">
	        			<p><strong>Chat Duration: </strong>{{userDuration}}</p>
	        		</div>
	        	</div>
	        	<div class="row odd">
	        		<div class="col-xs-6 userStats">
	        			<p><strong>Survey Score: </strong>{{selectedUser.survey_score}}</p>
	        		</div>
	        		<div class="col-xs-6 userStats">
	        			<p><strong>User Agent: </strong>{{selectedUser.user_agent}}</p>
	        		</div>
	        	</div>
	        	<div class="row even userMapDiv">
	        		<div class="col-xs-6 userStats">
	        			<p><strong>User Location: </strong>
	        				<reverse-geocode lat="{{selectedUser.latitude}}" lng="{{selectedUser.longitude}}" /></p>
	        		</div>
	        		<div class="col-xs-6 leafletDiv">
	        			<leaflet ng-show="showMap" lf-center="center" markers="markers" height="240px" width="100%"></leaflet>
	        		</div>
	        	</div>
	        	<div class="row chatHist">
	        		<h3>Chat History</h3>
	        		<div class="col-xs-12" ng-repeat="chat in selectedUser.transcript" ng-class="{odd: $odd}">
	        			<h5>{{chat.date | date:'mediumDate'}} as {{chat.alias}}</h5>
	        			<p>{{chat.message}}</p>
	        		</div>
	        	</div>
	        </div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	    </div>
    </div>
</div>
